body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-list {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  text-align: center;
}

h1 {
  color: #110f0f;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #45b35f;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #218838;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #b1bac0;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #ecf7fb;
  transition: background-color 0.3s ease;
}

li label {
  display: flex;
  align-items: center;
  flex: 1;
}

li input[type="checkbox"] {
  margin-right: 10px;
  accent-color: rgb(72, 123, 233);
  cursor: pointer;
}

li span {
  flex: 1;
}

li span.completed {
  text-decoration: line-through;
  color: #888;
}

li button {
  background-color: #ef2d2deb;
}

li button:hover {
  background-color: #eb3d4e;
}
